.top-header {
  padding: 4px 0 24px 4px;
}

.mobile-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
@keyframes buttonEffect {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-nav button {
  opacity: 0;
  animation: buttonEffect 0.3s ease forwards;
}

.mobile-nav button:nth-child(1) {
  animation-delay: 0.1s;
}
.mobile-nav button:nth-child(2) {
  animation-delay: 0.2s;
}
.mobile-nav button:nth-child(3) {
  animation-delay: 0.3s;
}
.mobile-nav button:nth-child(4) {
  animation-delay: 0.4s;
}
.mobile-nav button:nth-child(5) {
  animation-delay: 0.5s;
}
.mobile-nav button:nth-child(6) {
  animation-delay: 0.6s;
}
.mobile-nav button:nth-child(7) {
  animation-delay: 0.7s;
}
.mobile-nav button:nth-child(8) {
  animation-delay: 0.8s;
}
.mobile-nav button:nth-child(9) {
  animation-delay: 0.9s;
}

.desktop-nav {
  display: none;
}

button {
  background-color: #1f1c1c;
  color: rgb(234, 226, 226);
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 80px;
  display: flex;
  justify-content: center;
}
/* TEST */
/* button:hover {
  transform: scale(2);
  box-shadow: 0 0 15px blue;
  background-color: #2a2a2a;
} */

.Mercure {
  &:hover {
    background-color: #8b8b8b;
  }
}

.Venus {
  &:hover {
    background-color: #e7c27d;
  }
}

.Terre {
  &:hover {
    background-color: #2e52a3;
  }
}

.Mars {
  &:hover {
    background-color: #d14a28;
  }
}

.Jupiter {
  &:hover {
    background-color: #d2b48c;
  }
}

.Saturne {
  &:hover {
    background-color: #e6c799;
  }
}

.Uranus {
  &:hover {
    background-color: #66ccff;
  }
}

.Neptune {
  &:hover {
    background-color: #2d5da1;
  }
}

.Pluton {
  &:hover {
    background-color: #bfa387;
  }
}

button:hover {
  color: black;
  transform: scale(0.9);
}

button:activate {
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .desktop-nav {
    display: block;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 16px;
    flex-wrap: wrap;
  }
  .hamburger {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav button {
    min-width: 86px;
    margin: 0;
  }
}
