article {
    width: 90%;
    max-width: 500px ;
    display: flex;
    flex-direction: column;
    border: 1px solid green;

    h2 {
        padding: 1rem;
        border: 1px solid blue;
    }

    .planet-data {
        padding: 1rem;
        text-align: left;
        border: 1px solid red;
    }
}

@media screen and (width > 650px)  {
    article {
        flex-direction: row;
    }
}